#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	./bootstrap
	dh_auto_configure -- \
		--enable-lcap \
		--with-results-buffer=2048 \
		--with-max-scripts=20

override_dh_auto_install:
	dh_auto_install
	install -D -m 0644 spine.conf.dist \
		debian/cacti-spine/etc/spine.conf.dist
