#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ --buildsystem=cmake+ninja

override_dh_auto_configure:
	dh_auto_configure -- \
		-DSPINE_BUILD_MAIN=ON \
		-DENABLE_LCAP=ON \
		-DRESULTS_BUFFER=2048 \
		-DMAX_SIMULTANEOUS_SCRIPTS=20 \
		-DCMAKE_INSTALL_BINDIR=sbin \
		-DCMAKE_INSTALL_SYSCONFDIR=/etc

override_dh_auto_install:
	dh_auto_install
	install -D -m 0644 spine.conf.dist \
		debian/cacti-spine/etc/spine.conf.dist
